@{ViewBag.Title = "Home Page";
}

<form method="GET" action="Home/Query">
    <input name="bill" type="text" placeholder="单号" />
    <input name="pwd" type="text" placeholder="查询密码" />
    <input type="submit" value="查询" />
</form>